* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fix {
  overflow: hidden;
}
a {
  transition: 0.3s;
}

/*header_area*/

.header_area {
  border-top: 5px solid #4272d7;
  min-height: 120px;
}
.container {
  width: 1170px;
  margin: auto;
}

.logo {
  float: left;
  margin-top: 0px;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-top: 25px;
}
.search_icon {
  float: right;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  padding-left: 25px;
  margin-left: 25px;
}
.search_icon::before {
  background: #cccccc;
  height: 15px;
  width: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
}
.main_menu {
}
.main_menu ul {
  float: right;
}
.main_menu ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.main_menu ul li a {
  padding: 50px 0;
  color: #666666;
  text-decoration: none;
  font-size: 15px;
  display: block;
}
.main_menu ul li:hover > a {
  color: #4272d7;
}
/*dropdown_menu*/
.main_menu ul li ul.submenu {
  position: absolute;
  background: #161a20;
  width: 260px;
  top: 110%;
  left: 0;
  border-top: 5px solid #4272d7;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}
.main_menu ul li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.main_menu ul li ul.submenu li {
  margin: 0;
  display: block;
  border-bottom: 2px solid #1d2128;
}
.main_menu ul li ul.submenu li a {
  color: aliceblue;
  padding: 15px 20px;
  font-size: 13px;
}
.main_menu ul li ul.submenu li:hover > a {
  background: #4272d7;
  padding-left: 30px;
}
.main_menu ul li ul.submenu li ul.submenu {
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.main_menu ul li ul.submenu li:hover ul.submenu {
  opacity: 1;
  visibility: visible;
}
/*header_area_end*/
.single_slide {
  text-align: center;
  width: 100%;
  padding: 175px 0;
  background-size: cover;
  background-position: center bottom;
}
.single_slide h4 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.single_slide h2 {
  color: #fff;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 40px;
}
.single_slide a {
  color: #fff;
  text-decoration: none;
  background: #4272d7;
  padding: 20px 40px;
  display: inline-block;
}
/*css_for_single_one*/
.single_one {
  text-align: center;
  width: 100%;
  padding: 175px 0;
  background-size: cover;
  background-position: center top;
}
.single_one h4 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.single_one h2 {
  color: #fff;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 40px;
}
.single_one a {
  color: #fff;
  text-decoration: none;
  background: #4272d7;
  padding: 20px 40px;
  display: inline-block;
}
/*css_for_single_one*/
.slider_area {
  overflow: hidden;
  width: 100%;
}
.slider_active.owl-carousel .owl-nav button {
  background: #3d3d3d;
  height: 40px;
  width: 40px;
  left: 50px;
  top: 50%;
  position: absolute;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}
.slider_active.owl-carousel:hover .owl-nav button {
  opacity: 1;
}
.slider_active.owl-carousel .owl-nav button.owl-next {
  right: 50px;
  left: auto;
}
.slider_active.owl-carousel .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  background: #bdbdbd;
  margin: 0 2px;
  border-radius: 100%;
  text-align: center;
}
.slider_active.owl-carousel .owl-dots {
  text-align: center;
  margin-top: -26px;
  z-index: 999;
  position: relative;
  bottom: 40px;
}
.slider_active.owl-carousel .owl-dots .owl-dot.active {
  background: #2059d3;
}
